.content .top .title {
    font-family: MicrosoftYaHei;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}

.content .top .text {
    font-family: MicrosoftYaHeiLight;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #323232;
    width: 74%;
    margin-left: 13%;
    margin-top: 20px;
}

.content .center {
    width: 74%;
    margin: 63px auto 0;
}

.content .center .title {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}

.content .center .title p {
    width: 6px;
    height: 26px;
    background-color: #005cc7;
    border-radius: 2px;
    margin-right: 4px;
}

.content .center .title span {
    font-family: MicrosoftYaHei;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #000000;
}

.sigma-content {
    margin: 13px 0;
    text-align: center;
    background-color: #fff;
}

.sigma-middle-line:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #005cc7; /*颜色需与主题大背景色一致*/
    position: relative;
    top: 2px; /*调节线高*/
    left: 0;
}

.sigma-line-text {
    display: inline-block;
    background: #fff;
    padding: 0 0px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: darkcyan;
    width: 30px;
}

.c-content {
    margin-top: 70px;
}

.c-content-neirong {
    padding: 3%;
    margin-left: -3%;
    background-color: #ffffff;
    border: solid 1px #f2f2f2;
    margin-top: 29px;
}

.rightimg1 {
    display: block;
}

.rightimg2 {
    display: none;
}

.c-content-neirong:hover {
    box-shadow: 8px 6px 13px #f8f8f8;
}

.c-content-neirong:hover .content-rigint span {
    display: block;
}

.c-content-neirong:hover .content-rigint .rightimg1 {
    display: none;
}

.c-content-neirong:hover .content-rigint .rightimg2 {
    display: block;
}

.biaoti {
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #181818;
}

.c-content-neirong-top {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 23px;
}

.content-left {
    width: 75%;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #333333;
}

.content-left span {
    color: #000;
}

.content-rigint img {
    margin-left: 10px;
}

.content-rigint {
    display: flex;
    align-items: center;
}

.content-rigint span {
    display: none;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    letter-spacing: 1px;
    color: #005cc7;
}

.content-bottom {
    font-family: MicrosoftYaHeiLight;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #333333;
}


.content .c-bottom {
    width: 74%;
    margin: 163px auto 0;
}

.content .c-bottom .title {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}

.content .c-bottom .title p {
    width: 6px;
    height: 26px;
    background-color: #005cc7;
    border-radius: 2px;
    margin-right: 4px;
}

.content .c-bottom .title span {
    font-family: MicrosoftYaHei;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #000000;
}

.bottom-city div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    ont-family: MicrosoftYaHeiLight;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: 1px;
    color: #333333;
}

.bottom-city div .leftname{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #015dc7;
}
.bottom-city div ul{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-left: 10px;
    flex-wrap: wrap;
}

.bottom-city div ul li {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.bottom-city div ul li:hover{
    color: #005cc7;
}
