* {
    margin: 0;
    padding: 0;
}
a{
    cursor:pointer;
}


.header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 92, 199, 0.5);
}
.leftImg{
    width: 10%;
}
.header-content {
    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content{
    min-width: 768px;
}

.rightLink{
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.mymenu{
    display: none;
}

.rightLink .isshow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rightLink div a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

.select {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.top16 {
    top: -16px;
}

ul {
    list-style: none;
}

.select ul {
    margin-left: 20px;
    margin-top: 20px;
}

.select ul li {
    margin-top: 16px;
}

.select .ABOARDSelect a {
    color: #6d6d6d;
}

.select .ABOARDSelect a:active {
    color: #005cc7;
}

.select .ABOARDSelect a:hover {
    color: #005cc7;
}

.ABOARD {
    display: flex;
    align-items: center;
    cursor:pointer;
    padding: 0 10px;
}
.ABOARD span{
    color: #fff;
}

.dImg {
    width: 20px;
    transform: rotate(180deg);
}

.sImg {
    width: 30px;
    transform: rotate(0deg) !important;
}

.rightLink div .ABOARDSelect {
    display: none;
    width: 399px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    position: absolute;
    font-size: 14px;
}

.ABOARD:hover {
    padding: 0 10px;
    height: 100%;
    background: #fff;
    line-height: 77px;
    display: flex;
    color: #005cc7 !important;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ABOARD:hover span{
    color: #005cc7 !important;
}

.rightLink div div.ABOARD:hover .ABOARDSelect{
    display: block;
    top: 96%;
    width: 100%;
    z-index: 22222222;
    line-height: 20px;
    opacity: 0.8;
    padding-bottom: 20px;
}

.ABOARD:hover img.dImg{
    transform: rotate(0deg);
    content: url("../img/s.png");
}


.zhiwei{
    margin-top: 30px;
}

.isshow{
    display: flex;
}


.phone{
    display: none;
}

.pc-display{
    display: flex;
}

.phone-display{
    display: none;
}
