
.swiper-container {
    width: 100%;
    margin: 0 auto;
}

body {
    display: none;
}

.swiper-slide {
    position: relative;
}

.bottom-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    z-index: 10;
}

.swiper-pagination {
    position: relative;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
}

#ups-banner {
    overflow: hidden;
}

#ups-banner .swiper-pagination-bullet {
    width: 33px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.56);
    vertical-align: middle;
    margin: 0 5px;
}

#ups-banner .swiper-pagination-bullet-active {
    background: #fff;
}

.FEATURED-JOBS {
    margin-top: 100px;
}

.imgjobsl {
}

.jobs-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 74%;
    min-width: 768px;
    margin: 50px auto;
}

.jobs-content dl {
    width: 30%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #f8f8f8;
    margin-top: 37px;
    transition: all 0.6s;
    overflow: hidden;
    margin: 1%;
}

.jobs-content dl:hover {
    transform: scale(1.03);
    margin-top: 20px;
}

.jobs-title {
    font-family:"微软雅黑";
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 0.6px;
    color: #181818;
    margin-top: 51px;
    text-align: center;
}

.jobs-text {
    font-family:"微软雅黑";
    font-weight:bold;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #959595;
    margin-top: 28px;
    padding: 0 31px;
}

.jobs-link {
    margin: 46px 0 42px 31px;
}

.jobs-link a {
    color: #005cc7;
}

.select-all {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.type-jobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/yige.png");
    background-repeat: no-repeat;
    margin-top: 174px;
    background-size: 100%;
}

.type-constraint {
    width: 74%;
    min-width: 768px;
    margin: 6% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-content {
    position: relative;
    top: 0;
    left: 0;
    width: 24.5%;
    overflow: hidden;
}

.type-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 105px;
    background: rgba(0, 0, 0, 0);
    transition: all 0.6s;
}

.type-bottom:hover {
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
}

@keyframes type-bottom {
    from {
        top: 105px;
        background: rgba(0, 0, 0, 0);
    }
    to {
        top: 0px;
        background: rgba(0, 0, 0, 0.4);
    }
}

.type-title {
    font-family:"微软雅黑";
    font-weight:bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 38%;
}

.type-text {
    font-family:"微软雅黑";
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 35px;
    padding: 0 47px;
}

.our-school {
    width: 74%;
    min-width: 768px;
    margin: 90px auto 0;
}

.our-school-top {
}

.our-school-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.our-school-bottom-content {
    margin-top: 49px;
    width: 46%;
    margin: 2%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    transition: all 1s;
    border-radius: 5px;
}

.our-school-bottom-content:hover .our-school-bottom-b {
    height: 100%;
    top: 0;
}

.our-school-bottom-b {
    position: absolute;
    top: 40%;
    height: 20%;
    left: 0;
    font-family:"微软雅黑";
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 66px;
    letter-spacing: 1px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    line-height: 112px;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Locations-english {
    margin: 176px auto 0px;
}

.Locations-english .Locations-english-b {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Locations-english-b {
    margin-top: 72px;
}

.how-it {
    margin: 213px auto 0px;
    width: 74%;
    min-width: 768px;
}

.how-it-t {
    display: flex;
    justify-content: center;
}

.how-it-b {
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.how-it-b .how-it-content {
    margin: 1%;
}

.how-it-content-t {
    display: flex;
    justify-content: center;
}

.how-it-content-t img:hover {
    animation: yaobai 1s infinite;
}

@keyframes yaobai {
    0% {
        transform: rotate(0deg);
    }
    10%, 50% {
        transform: rotate(30deg);
    }
    20%, 60% {
        transform: rotate(0deg);
    }
    30%, 70% {
        transform: rotate(-30deg);
    }
    40%, 80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.how-it-content-b p {
    text-align: center;
}

.how-it-content-b .p1 {
    font-size: 20px;
    font-family:"微软雅黑";
    margin-top: 31px;
}

.how-it-content-b .p2 {
    font-size: 14px;
    color: #666666;
}

.how-it-content-b .onep {
    margin-top: 28px;
}

.type-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 44%;
    background: rgba(0, 0, 0, 0);
    transition: all 0.6s;
}

.type-top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 100%;
}

.color005{
    margin-left: 20px;
    font-size: 36px;
    color: #005cc7;
}

.linesOne{
    display: flex;
    justify-content: center;
}

.linesOne p{
    background: #005cc7;
    width: 55px;
    height: 4px;
}
