.p-top{
    position: relative;
}
.p-topseach{
    text-align: center;
    width: 74%;
    min-width: 768px;
    position: absolute;
    top: 35%;
    margin-left: 13%;
}
.p-top-title{
    font-family: MicrosoftYaHei;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #ffffff;
}
.p-top-text{
    font-family: MicrosoftYaHeiLight;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 2%;
}

.p-top-seach{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}


.p-top-seach input{
    width: 30%;
    height: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0px;
    padding: 5px 5px 5px 20px;
    outline: none;
    font-size: 19px;
    text-align: center;
}

.p-top-seach a{
    height: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0px;
    background: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 30px;
}
.p-top-seach a img{
    width: 20px;
}


.p-content{
    width: 74%;
    min-width: 768px;
    margin: 70px auto 0;
}

.p-content-neirong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    margin-top: 30px;
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.p-content-neirong-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.p-content-neirong-left-touxiang{
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
}

.p-content-neirong-left-text{
    margin-left: 20px;
    width: 80%;
}

.p-content-neirong-left-text-title{
    font-family: MicrosoftYaHei-Bold;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #181818;
}
.p-content-neirong-left-text-text{
    font-family: MicrosoftYaHeiLight;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #333333;
    margin-top: 30px;
}
.p-content-neirong-left-text-time{
    font-family: MicrosoftYaHeiLight;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #999999;
    margin-top: 19px;
}

.rightimg1 {
    display: block;
}

.rightimg2 {
    display: none;
}
.content-rigint img {
    margin-left: 10px;
}

.content-rigint {
    display: flex;
    align-items: center;
}

.content-rigint span {
    display: none;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    letter-spacing: 1px;
    color: #005cc7;
}
.p-content-neirong:hover .content-rigint span {
    display: block;
}

.p-content-neirong:hover .content-rigint .rightimg1 {
    display: none;
}

.p-content-neirong:hover .content-rigint .rightimg2 {
    display: block;
}

.p-content-neirong:hover{
    box-shadow: 8px 6px 13px #f8f8f8;
}

.addList{
    margin-top: 33px;
    height: 80px;
}
.addList p{
    font-family: MicrosoftYaHeiLight;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #005cc7;
    text-align: center;
}

.addList div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    animation: top-down 1s infinite;
}
.addList div img{
    width: 35px;
}
@keyframes top-down {
    0%,100%{
        margin-top: 10px;
    }
    50%{
        margin-top: 20px;
    }
}


.pdl-top{
    width: 74%;
    min-width: 768px;
    margin: 172px auto 0;
    font-family: MicrosoftYaHeiUILight;
    font-size: 20px;
    letter-spacing: 1px;
    color: #323232;
}

.pdl-top h3{
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 30px;
}

.newlist{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.newlist a{
    width: 240px;
    text-align: center;
    background-image: linear-gradient(90deg,
    #005cc7 0%,
    #459bd7 100%),
    linear-gradient(
            #005cc7,
            #005cc7);
    background-blend-mode: normal,
    normal;
    border-radius: 30px;
    border-radius: 30px;
    font-family: MicrosoftYaHei;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 15px 15px;
}


.p-qAr-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.p-qAr-title p{
    width: 6px;
    height: 26px;
    background-color: #005cc7;
    border-radius: 2px;
}

.p-qAr-title span{
    font-family: MicrosoftYaHei;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 1px;
    color: #000000;
    margin-left: 10px;
}


