<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>职位列表</title>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)"
          href="../../css/positionlist0-768.css?2"/>
    <link type="text/css" media="screen and (min-width: 768px)" href="../../css/positionlist768.css?2" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="display: none;">
<!--头部-->
<header style="position: fixed;top: 0;width: 100%;left: 0;z-index: 100"></header>

<div class="p-top">
    <div>
        <img src="../../img/pdl-top.jpg" alt="" width="100%"/>
    </div>
</div>
<div class="pdl-top">
    <h3>Basic Job Responsibility</h3>
    <p>Teach classes as scheduled.</p>
    <p>Accustom students to western teaching methodology and improve their performance in English.</p>
    <p>Prepare and have lessons as instructed with the detailed teaching guidance from the school.</p>
    <p>Interact with kids individually and in groups through diverse and interesting teaching methods such as games,
        songs, drawings, demos, etc.</p>
    <p>Write students´ performance feedback in the class.</p>
</div>
<div class="p-content">
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="p-content-neirong">
            <div class="p-content-neirong-left">
                <div class="p-content-neirong-left-touxiang">
                    <img src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt=""
                         width="100%" style="height: 100%"/>
                </div>
                <div class="p-content-neirong-left-text">
                    <p class="p-content-neirong-left-text-title">Kindergarten English Teaching</p>
                    <p class="p-content-neirong-left-text-text">Shanghai Dison Private KindergartenShanghai, China</p>
                    <p class="p-content-neirong-left-text-time">start in April, 2019</p>
                </div>
            </div>
            <div class="content-rigint">
                <span>APPLY  NOW</span>
                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                <img src="../../img/right.png" alt="" class="rightimg2"/>
            </div>
        </div>
    </a>
</div>

<div class="newlist">
    <a href="#">more job >></a>
</div>

<!--footer-->
<footer></footer>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量

    // 判断图片加载状况，加载完成后回调
    isImgLoad(function () {
        // 加载完成
        //引入顶部菜单
        $('header').load('../layout/header.html');
        $('footer').load('../layout/footer.html');
        $('body').show();

    });

    // 判断图片加载的函数
    function isImgLoad(callback) {
        // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
        // 查找所有封面图，迭代处理
        $('img').each(function () {
            // 找到为0就将isLoad设为false，并退出each
            if (this.height === 0) {
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if (isLoad) {
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
            // 为false，因为找到了没有加载完成的图，将调用定时器递归
        } else {
            isLoad = true;
            t_img = setTimeout(function () {
                isImgLoad(callback); // 递归扫描
            }, 500); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }
</script>
</html>
