<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>签证信息</title>
    <link href="https://cdn.bootcss.com/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)"
          href="../../css/visa0-768.css?2"/>
    <link type="text/css" media="screen and (min-width: 768px)" href="../../css/visa768.css?2" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/105354/47845/5c34b25bf629d90d44d2036e.css'
          rel='stylesheet' type='text/css'/>
    <script src="https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js"></script>
</head>
<body style="display: none;">
<!--头部-->
<header style="position: absolute;top: 0;width: 100%;left: 0;z-index: 100"></header>

<div class="p-top">
    <div>
        <img src="../../img/pdl-top.jpg" alt="" width="100%"/>
    </div>
</div>
<div class="v-content">
    <div>
        <div>
            <div class="p-qAr-title">
                <p></p><span>Visas and Related Information</span>
            </div>
            <div class="v-conttent-top">
                <div class="v-conttent-top-left">
                    <div>
                        <p class="title">Documents required for Z visa application</p>
                    </div>
                    <div>
                        <p>• Bachelor's degree or higher </p>
                        <p>• A criminal background check </p>
                        <p>• A clean physical health examination</p>
                        <p>• ONE of the following:</p>
                        <p class="margin-left-24">1. A degree in a field related to teaching or
                            education</p>
                        <p class="margin-left-24"> 2. A teaching license that certifies you to teach in
                            your home country</p>
                        <p class="margin-left-24"> 3. 2+ years post-graduate teaching experience
                            (reference letters must be provided)</p>
                        <p class="margin-left-24">4. A TEFL/TESOL/CELTA qualification of at least
                            120-hours</p>
                        <p>• A scanned copy of your passport (should have at
                            least 6-months of validity remaining)</p>
                        <p>• Your contract signature page</p>
                    </div>
                </div>
                <div class="v-conttent-top-right">
                    <div>
                        <p class="title">You'll need to bring</p>
                    </div>
                    <div>
                        <p>• The work permit and invitation letter</p>
                        <p>• The completed Z-class visa application form</p>
                        <p>• Your signed and stamped medical check form</p>
                        <p>• Your passport</p>
                        <p>• A 2"x2" photo (full face, front view, no hat or cap,
                            against a plain and light colored background)</p>
                        <p>• The visa fee is about $150 - $200 depending on yo
                            ur nationality. Prices may be higher for express ser
                            vice. Keep the receipts because most schools will r
                            eimburse the cost of the visa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="v-content-map">
        <div class="p-qAr-title">
            <p></p><span>6 Steps to obtain the Z Visa</span>
        </div>
        <p class="title">The whole process will take around one month in total.</p>
        <div class="v-content-map-neirong">
            <div class="v-content-map-neirong-text">
                <div class="v-content-map-neirong-text-left">
                    <img src="../../img/v-1.png" alt="">
                </div>
                <div class="v-content-map-neirong-text-right">
                    <div>
                        <p class="title">Documents required to be authenticate: </p>
                        <p>your highest awarded degree, criminal check, and TEFL/TESOL/CELTA</p>
                    </div>
                    <div class="mar-top-20">
                        <p class="title">Document authentication process:</p>
                        <p>(1) Notarize non-government documents </p>
                        <p>(2) Authentication at home-country government</p>
                        <p>(3) Further authentication at the Chinese Embassy.</p>
                    </div>
                    <div class="item">
                        <div class="css16d301ff0719b8a">
                            1
                        </div>
                    </div>
                </div>
            </div>
            <div class="v-xia">
                <img src="../../img/v-d.png" alt=""/>
            </div>
            <div class="v-content-map-neirong-text">
                <div class="v-content-map-neirong-text-right bian-left">
                    <div class="text">
                        <div class="text-left">
                            <div>
                                <img src="../../img/v-wenz.png" alt="">
                            </div>
                            <div class="text-down">
                                <p>View larger picture</p>
                            </div>
                        </div>
                        <div class="text-right">
                            Download medical check form. The physical check can
                            be done in any country, but must be completed in English.
                            The doctor should complete the form in full, and it should
                            include a signature and hospital seal/stamp. Attach a passport
                            sized photo (2”x 2”) on the top right part of the form.
                        </div>
                    </div>
                    <div class="item-right">
                        <div class="css16d301ff0719b8a">
                            2
                        </div>
                    </div>
                </div>
                <div class="v-content-map-neirong-text-left">
                    <img src="../../img/v-1.png" alt="">
                </div>
            </div>
            <div class="v-xia">
                <img src="../../img/v-d.png" alt=""/>
            </div>
            <div class="v-content-map-neirong-text">
                <div class="v-content-map-neirong-text-left">
                    <img src="../../img/v-1.png" alt="">
                </div>
                <div class="v-content-map-neirong-text-right one-p">
                    <div>
                        <p>After these are complete, send digital copies to your school so they
                            can begin applying for your Work Permit and Invitation Letter. It will
                            take them about 10-working days to receive your paperwork.</p>
                    </div>
                    <div class="item">
                        <div class="css16d301ff0719b8a">
                            3
                        </div>
                    </div>
                </div>
            </div>
            <div class="v-xia">
                <img src="../../img/v-d.png" alt=""/>
            </div>
            <div class="v-content-map-neirong-text">
                <div class="v-content-map-neirong-text-right bian-left  one-p">
                    <div class="text">
                        <p>While your school processes the Work Permit Invitation, you can
                            download and complete a visa application form (Z visa)</p>
                    </div>
                    <div class="item-right">
                        <div class="css16d301ff0719b8a">
                            4
                        </div>
                    </div>
                </div>
                <div class="v-content-map-neirong-text-left">
                    <img src="../../img/v-1.png" alt="">
                </div>
            </div>
            <div class="v-xia">
                <img src="../../img/v-d.png" alt=""/>
            </div>
            <div class="v-content-map-neirong-text">
                <div class="v-content-map-neirong-text-left">
                    <img src="../../img/v-1.png" alt="">
                </div>
                <div class="v-content-map-neirong-text-right one-p">
                    <div>
                        <p>Your school will email you the Work Permit invitation papers in elec
                            tronic form. Print one COLOR copy of each document.</p>
                    </div>
                    <div class="item">
                        <div class="css16d301ff0719b8a">
                            5
                        </div>
                    </div>
                </div>
            </div>
            <div class="v-xia">
                <img src="../../img/v-d.png" alt=""/>
            </div>
            <div class="v-content-map-neirong-text">
                <div class="v-content-map-neirong-text-right bian-left one-p">
                    <div class="text">
                        <p>Go to the nearest Chinese Embassy or Consulate Office.</p>
                    </div>
                    <div class="item-right">
                        <div class="css16d301ff0719b8a">
                            6
                        </div>
                    </div>
                </div>
                <div class="v-content-map-neirong-text-left">
                    <img src="../../img/v-1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="v-content-text">
        <div class="p-qAr-title">
            <p></p><span>Upon arrival in China within 30 days</span>
        </div>
        <div>
            <p class="sctext-title">1. Temporary Registration and Medical verification</p>
            <div>
                <p class="sctext-title-ziTitle">Temporary Registration：</p>
                <p>that governs in your apartment area. You need to present the following to register at the police
                    station: </p>
                <p>1). Your actual passport</p>
                <p>2). Housing contract</p>
                <p>3). Landlord’s ID copy and contact number (the police may call the landlord to confirm if you are
                    actually living there. The police station may also ask your landlord to show up with you.</p>
                <p class="colorRed">※ According to the regulation, foreigners should be registered at the police station
                    within 24 hours after entering into
                    China.</p>
            </div>
            <div>
                <p class="sctext-title-ziTitle">Medical verification:</p>
                <p>International Travel Health Care Centers are in every city of China.</p>
                <p>A Chinese staff member from your school will assist you with the medical verification if your medical
                    has fully completed at your home country. If not full completed, you will need to get another
                    medical check in China.</p>
                <p>Things to bring with you:</p>
                <p>Original medical check report from your country</p>
                <p>Money in cash (100-600RMB)</p>
                <p>One photo (the requirement)"</p>
                <p class="colorRed">※ No alcohol and coffee the night before, no breakfast and water on the day of the
                    medical check.</p>
            </div>
            <p class="sctext-title">2. Work Certificate and Resident Permit</p>
            <div>
                <div>
                    <p class="sctext-title-ziTitle">Work Certificate:</p>
                    <p>The School’s Chinese staff can help get this for you at the Ministry of Human Resources and
                        Social Security, typically it is required to present/submit the following documents:</p>
                    <p>Your actual passport (it will be returned after the authority confirmed the entry date from your
                        passport)</p>
                    <p>one photo (all photos are the have the requirements）</p>
                    <p>Police registration from</p>
                    <p>Medical report verification</p>
                    <p>Other documents from the school</p>
                    <p class="colorRed">※ It usually takes 5 business days to process, the processing time for system
                        approval is not included</p>
                </div>
                <div>
                    <p class="sctext-title-ziTitle">Resident Permit:</p>
                    <p>You must appear in person at the local PSB (Public Security Bureau) in China and bring the
                        following:
                        You actual Passport</p>
                    <p>You actual Passport</p>
                    <p>Police registration form</p>
                    <p>Resident permit application forms</p>
                    <p>One two-inch photo with white background</p>
                    <p>Original Work certificate </p>
                    <p>Other documents from the company</p>
                    <p class="colorRed">※ The processing time should be 10-15 business days, depending on which city you
                        are applying in. Please note that the
                        PSB will keep your real passport during this processing period. If you need the actual passport
                        back before the collection
                        date, the Resident Permit will not be granted. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="v-content-bottom">
        <p>After completing all these procedures, Congratulations!</p>
        <p>You Are an Official Resident of China!</p>
    </div>
</div>

<div class="popup" style="">
    <div class="caozuo">
        <a href="../../img/v-tijian.png" download="v-tijian.png" class="download down_btn_a"></a>
        <div class="cloes">
        </div>
    </div>
    <div class="v-lunbo">
        <!--轮播-->
        <div id="ups-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img-fix">
                            <div class="img-inner"><img src="../../img/v-tijian.png" class="img"
                                                        width="30%"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-fix">
                            <div class="img-inner"><img src="../../img/v-tijian.png" class="img"
                                                        width="30%"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-fix">
                            <div class="img-inner"><img src="../../img/v-tijian.png" class="img"
                                                        width="30%"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-nav">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--footer-->
<footer></footer>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量

    // 判断图片加载状况，加载完成后回调
    isImgLoad(function () {
        // 加载完成
        //引入顶部菜单
        $('header').load('../layout/header.html');
        $('footer').load('../layout/footer.html');
        $('body').show();


        $('.text-down').on('click', function () {
            $('.popup').show();
        })


        //判断是否为Trident内核浏览器(IE等)函数
        function browserIsIe() {
            if (!!window.ActiveXObject || "ActiveXObject" in window) {
                return true;
            }
            else {
                return false;
            }
        }

//创建iframe并赋值的函数,传入参数为图片的src属性值.
        function createIframe(imgSrc) {
            //如果隐藏的iframe不存在则创建
            if ($("#IframeReportImg").length === 0) {
                $('<iframe style="display:none;" id="IframeReportImg" name="IframeReportImg" onload="downloadImg();" width="0" height="0" src="about:blank"></iframe>').appendTo("body");
            }
            //iframe的src属性如不指向图片地址,则手动修改,加载图片
            if ($('#IframeReportImg').attr("src") != imgSrc) {
                $('#IframeReportImg').attr("src", imgSrc);
            } else {
                //如指向图片地址,直接调用下载方法
                downloadImg();
            }
        }

//下载图片的函数
        function downloadImg() {
            //iframe的src属性不为空,调用execCommand(),保存图片
            if ($('#IframeReportImg').src != "about:blank") {
                window.frames["IframeReportImg"].document.execCommand("SaveAs");
            }
        }

//接下来进行事件绑定
        var aBtn = $(".down_btn_a");
        if (browserIsIe()) {
            //是ie等,绑定事件
            aBtn.on("click", function () {
                var imgSrc = $(this).siblings("img").attr("src");
                //调用创建iframe的函数
                createIframe(imgSrc);
            });
        } else {
            aBtn.each(function (i, v) {
                //支持download,添加属性.
                var imgSrc = $(v).siblings("img").attr("src");
                $(v).attr("download", imgSrc);
                $(v).attr("href", imgSrc);
            })
        }
    });

    // 判断图片加载的函数
    function isImgLoad(callback) {
        // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
        // 查找所有封面图，迭代处理
        $('img').each(function () {
            // 找到为0就将isLoad设为false，并退出each
            if (this.height === 0) {
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if (isLoad) {
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
            // 为false，因为找到了没有加载完成的图，将调用定时器递归
        } else {
            isLoad = true;
            t_img = setTimeout(function () {
                isImgLoad(callback); // 递归扫描
            }, 500); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }
</script>
</html>
