<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>城市详情</title>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)" href="../../css/city0-768.css?2"/>
    <link type="text/css" media="screen and (min-width: 768px)" href="../../css/city768.css?2" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="display: none;">
<!--头部-->
<header style="position: fixed;top: 0;width: 100%;left: 0;z-index: 100"></header>
    <div>
        <img src="../../img/citytitle.png" alt="" width="100%">
    </div>
    <div class="content">
        <div class="top">
            <div>
                <p class="title">The Latest & Greatest Teaching Jobs in China</p>
                <p class="text">Teach English in China and immerse yourself in one of the most fascinating and fast changing countries on the
                    planet, while at the same time making a positive difference to the lives your of students. We have ESL jobs in
                    China with hundreds of professional schools with year-round start dates in over 60 exciting cities. Whether you
                    are a new teacher looking for your first ESL teaching job in China or an experienced teacher looking to advance
                    your teaching career we will provide you with hand-picked jobs and assist you through the entire recruitment
                    process. The service we offer is completely free of charge and there are no salary deductions.</p>
            </div>
        </div>
        <div class="center">
            <div class="title">
                <p></p><span>Featured  City</span>
            </div>
            <div class="c-content">
                <div>
                    <div class="c-content-neirong">
                        <p class="biaoti">Teaching in Beijing</p>
                        <div class="c-content-neirong-top">
                            <div class="content-left">
                                <p><span>Population:</span> 16 million</p>
                                <div style="display: flex;align-items: flex-start"><span>• Transport:</span> <p>1 international airport, 4 major train stations, 14 subway lines, thousands of bus
                                    routes & taxis</p></div>
                                <p><span>• Climate:</span> Humid subtropical, hot summers and mild winters</p>
                            </div>
                            <div class="content-rigint">
                                <span>APPLY  NOW</span>
                                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                                <img src="../../img/right.png" alt="" class="rightimg2"/>
                            </div>
                        </div>
                        <div>
                            <div class="sigma-content">
                                <div class="sigma-middle-line">
                                    <span class="sigma-line-text">
                                        <img src="../../img/down.png" alt="" width="100%"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content-bottom">
                            <p>Located in the south-east of China in Guangdong province, Hong Kong and Macao are just a hop skip and a jump
                                away.</p>
                            <p>Fast-paced modern lifestyle, exciting nightlife, and world-renowned international airport for epic holiday trips.
                                Traditional attractions (temples, gardens, etc.), hiking mountains and sunny beaches all within the city limits."</p>
                        </div>
                    </div>
                    <div class="c-content-neirong">
                        <p class="biaoti">Teaching in Beijing</p>
                        <div class="c-content-neirong-top">
                            <div class="content-left">
                                <p><span>Population:</span> 16 million</p>
                                <p><span>• Transport:</span> 1 international airport, 4 major train stations, 14 subway lines, thousands of bus
                                    routes & taxis</p>
                                <p><span>• Climate:</span> Humid subtropical, hot summers and mild winters</p>
                            </div>
                            <div class="content-rigint">
                                <span>APPLY  NOW</span>
                                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                                <img src="../../img/right.png" alt="" class="rightimg2"/>
                            </div>
                        </div>
                        <div>
                            <div class="sigma-content">
                                <div class="sigma-middle-line">
                                    <span class="sigma-line-text">
                                        <img src="../../img/down.png" alt="" width="100%"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content-bottom">
                            <p>Located in the south-east of China in Guangdong province, Hong Kong and Macao are just a hop skip and a jump
                                away.</p>
                            <p>Fast-paced modern lifestyle, exciting nightlife, and world-renowned international airport for epic holiday trips.
                                Traditional attractions (temples, gardens, etc.), hiking mountains and sunny beaches all within the city limits."</p>
                        </div>
                    </div>
                    <div class="c-content-neirong">
                        <p class="biaoti">Teaching in Beijing</p>
                        <div class="c-content-neirong-top">
                            <div class="content-left">
                                <p><span>Population:</span> 16 million</p>
                                <p><span>• Transport:</span> 1 international airport, 4 major train stations, 14 subway lines, thousands of bus
                                    routes & taxis</p>
                                <p><span>• Climate:</span> Humid subtropical, hot summers and mild winters</p>
                            </div>
                            <div class="content-rigint">
                                <span>APPLY  NOW</span>
                                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                                <img src="../../img/right.png" alt="" class="rightimg2"/>
                            </div>
                        </div>
                        <div>
                            <div class="sigma-content">
                                <div class="sigma-middle-line">
                                    <span class="sigma-line-text">
                                        <img src="../../img/down.png" alt="" width="100%"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content-bottom">
                            <p>Located in the south-east of China in Guangdong province, Hong Kong and Macao are just a hop skip and a jump
                                away.</p>
                            <p>Fast-paced modern lifestyle, exciting nightlife, and world-renowned international airport for epic holiday trips.
                                Traditional attractions (temples, gardens, etc.), hiking mountains and sunny beaches all within the city limits."</p>
                        </div>
                    </div>
                    <div class="c-content-neirong">
                        <p class="biaoti">Teaching in Beijing</p>
                        <div class="c-content-neirong-top">
                            <div class="content-left">
                                <p><span>Population:</span> 16 million</p>
                                <p><span>• Transport:</span> 1 international airport, 4 major train stations, 14 subway lines, thousands of bus
                                    routes & taxis</p>
                                <p><span>• Climate:</span> Humid subtropical, hot summers and mild winters</p>
                            </div>
                            <div class="content-rigint">
                                <span>APPLY  NOW</span>
                                <img src="../../img/huiright.png" alt="" class="rightimg1"/>
                                <img src="../../img/right.png" alt="" class="rightimg2"/>
                            </div>
                        </div>
                        <div>
                            <div class="sigma-content">
                                <div class="sigma-middle-line">
                                    <span class="sigma-line-text">
                                        <img src="../../img/down.png" alt="" width="100%"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content-bottom">
                            <p>Located in the south-east of China in Guangdong province, Hong Kong and Macao are just a hop skip and a jump
                                away.</p>
                            <p>Fast-paced modern lifestyle, exciting nightlife, and world-renowned international airport for epic holiday trips.
                                Traditional attractions (temples, gardens, etc.), hiking mountains and sunny beaches all within the city limits."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-bottom">
            <div class="title">
                <p></p><span>China</span>
            </div>
            <div >
                <img src="../../img/map2.png" alt="" width="90%" style="margin-top: 50px">
            </div>
            <div class="bottom-city">
                <div>
                    <p class="leftname">Beijing</p>
                    <ul>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                    </ul>
                </div>
                <div>
                    <p class="leftname">Beijing</p>
                    <ul>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                    </ul>
                </div>
                <div>
                    <p class="leftname">Beijing</p>
                    <ul>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                    </ul>
                </div>
                <div>
                    <p class="leftname">Beijing</p>
                    <ul>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                    </ul>
                </div>
                <div>
                    <p class="leftname">Beijing</p>
                    <ul>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                    </ul>
                </div>
                <div>
                    <p class="leftname">Beijing</p>
                    <ul>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                        <li>langfang</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--footer-->
<footer></footer>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量

    // 判断图片加载状况，加载完成后回调
    isImgLoad(function () {
        // 加载完成
        //引入顶部菜单
        $('header').load('../layout/header.html');
        $('footer').load('../layout/footer.html');
        $('body').show();

    });

    // 判断图片加载的函数
    function isImgLoad(callback) {
        // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
        // 查找所有封面图，迭代处理
        $('img').each(function () {
            // 找到为0就将isLoad设为false，并退出each
            if (this.height === 0) {
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if (isLoad) {
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
            // 为false，因为找到了没有加载完成的图，将调用定时器递归
        } else {
            isLoad = true;
            t_img = setTimeout(function () {
                isImgLoad(callback); // 递归扫描
            }, 500); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }
</script>
</html>
