<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!–[if lt IE 9]><script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script><![endif]–>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)" href="../../css/index0-768.css"/>
    <link type="text/css" media="screen and (min-width: 768px)" href="../../css/index768.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js"></script>
</head>
<body>
<!--头部-->
<header style="position: absolute;top: 0;width: 100%;left: 0;z-index: 100"></header>

<!--轮播-->
<div id="ups-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-fix">
                    <div class="img-inner"><img src="http://pic1.win4000.com/wallpaper/7/53bce10032f18.jpg" class="img"
                                                width="100%"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-fix">
                    <div class="img-inner"><img src="http://pic1.win4000.com/wallpaper/7/53bce10032f18.jpg" class="img"
                                                width="100%"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-fix">
                    <div class="img-inner"><img src="http://pic1.win4000.com/wallpaper/7/53bce10032f18.jpg" class="img"
                                                width="100%"></div>
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<!--"FEATURED JOBS"-->
<div class="FEATURED-JOBS">
    <div class="imgjobsl">
        <img src="../../img/jobsl.png" alt="" width="38%">
    </div>
    <div class="jobs-content">
        <dl>
            <dt>
                <img src="../../img/11.png" alt=""
                     style="width: 100%">
            </dt>
            <dd>
                <p class="jobs-title">Kindergarten English Teaching</p>
                <p class="jobs-text">Shanghai Dison Private KindergartenShanghai
                    Dison Private KindergartenDison Private Kinder
                    gartenPrivate Kindergarten...</p>
                <div class="jobs-link">
                    <a href="#">View Details ></a>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="../../img/11.png" alt=""
                     style="width: 100%">
            </dt>
            <dd>
                <p class="jobs-title">Kindergarten English Teaching</p>
                <p class="jobs-text">Shanghai Dison Private KindergartenShanghai
                    Dison Private KindergartenDison Private Kinder
                    gartenPrivate Kindergarten...</p>
                <div class="jobs-link">
                    <a href="#">View Details ></a>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="../../img/11.png" alt=""
                     style="width: 100%">
            </dt>
            <dd>
                <p class="jobs-title">Kindergarten English Teaching</p>
                <p class="jobs-text">Shanghai Dison Private KindergartenShanghai
                    Dison Private KindergartenDison Private Kinder
                    gartenPrivate Kindergarten...</p>
                <div class="jobs-link">
                    <a href="#">View Details ></a>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="../../img/11.png" alt=""
                     style="width: 100%">
            </dt>
            <dd>
                <p class="jobs-title">Kindergarten English Teaching</p>
                <p class="jobs-text">Shanghai Dison Private KindergartenShanghai
                    Dison Private KindergartenDison Private Kinder
                    gartenPrivate Kindergarten...</p>
                <div class="jobs-link">
                    <a href="#">View Details ></a>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="../../img/11.png" alt=""
                     style="width: 100%">
            </dt>
            <dd>
                <p class="jobs-title">Kindergarten English Teaching</p>
                <p class="jobs-text">Shanghai Dison Private KindergartenShanghai
                    Dison Private KindergartenDison Private Kinder
                    gartenPrivate Kindergarten...</p>
                <div class="jobs-link">
                    <a href="#">View Details ></a>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="../../img/11.png" alt=""
                     style="width: 100%">
            </dt>
            <dd>
                <p class="jobs-title">Kindergarten English Teaching</p>
                <p class="jobs-text">Shanghai Dison Private KindergartenShanghai
                    Dison Private KindergartenDison Private Kinder
                    gartenPrivate Kindergarten...</p>
                <div class="jobs-link">
                    <a href="#">View Details ></a>
                </div>
            </dd>
        </dl>
    </div>
    <div class="select-all">
        <a href="#">
            <img src="../../img/morejob.png" alt="" width="90%">
        </a>
    </div>
</div>

<!--TYPES OF ESL JOBS-->
<div class="type-jobs">
    <div class="type-constraint">
        <div class="type-content">
            <div class="type-top">
                <img src="../../img/12.png" alt=""
                     style="width: 100%">
            </div>
            <div class="type-bottom">
                <p class="type-title">English Teacher</p>
                <p class="type-text">Teaching jobs for 3 to 6 yearoldsJol</p>
            </div>
        </div>
        <div class="type-content">
            <div class="type-top">
                <img src="../../img/13.png" alt=""
                     style="width: 100%">
            </div>
            <div class="type-bottom">
                <p class="type-title">Subject Teacher</p>
                <p class="type-text">Jabs at primary, middle, high schools</p>
            </div>
        </div>
        <div class="type-content">
            <div class="type-top">
                <img src="../../img/14.png" alt=""
                     style="width: 100%">
            </div>
            <div class="type-bottom">
                <p class="type-title">Director of studies</p>
                <p class="type-text">Teaching jobs for 18 to 22 year olds</p>
            </div>
        </div>
        <div class="type-content">
            <div class="type-top">
                <img src="../../img/15.png" alt=""
                     style="width: 100%">
            </div>
            <div class="type-bottom">
                <p class="type-title">Foreign Principal</p>
                <p class="type-text">Teaching jobs for all ages</p>
            </div>
        </div>
    </div>
</div>

<!--"OUR SCHOOL"-->
<div class="our-school">
    <div class="our-school-top">
        <img src="../../img/3.png" alt="" width="28%">
    </div>
    <div class="our-school-bottom">
        <div class="our-school-bottom-content">
            <div class="our-school-bottom-t">
                <img src="../../img/16.png" alt="" width="100%">
            </div>
            <div class="our-school-bottom-b">
                <span>Kindergarten</span>
            </div>
        </div>
        <div class="our-school-bottom-content">
            <div class="our-school-bottom-t">
                <img src="../../img/17.png" alt="" width="100%">
            </div>
            <div class="our-school-bottom-b">
                <span>Language schools</span>
            </div>
        </div>
        <div class="our-school-bottom-content">
            <div class="our-school-bottom-t">
                <img src="../../img/18.png" alt="" width="100%">
            </div>
            <div class="our-school-bottom-b">
                <span>Public/International schools</span>
            </div>
        </div>
        <div class="our-school-bottom-content">
            <div class="our-school-bottom-t">
                <img src="../../img/19.png" alt="" width="100%">
            </div>
            <div class="our-school-bottom-b">
                <span>University/Colleges</span>
            </div>
        </div>
    </div>
</div>

<!--Locations to Teach English-->
<div class="Locations-english">
    <div class="Locations-english-t">
        <img src="../../img/4.png" alt="" width="50%">
    </div>
    <div class="Locations-english-b">
        <img src="../../img/map.png" alt="" width="54%">
    </div>
</div>

<!--HOW IT-->
<div class="how-it">
    <div class="how-it-t">
        <img src="../../img/5.png" alt="">
    </div>
    <div class="how-it-b">
        <div class="how-it-content">
            <div class="how-it-content-t">
                <img src="../../img/one.png" alt="" width="100px">
            </div>
            <div class="how-it-content-b">
                <p class="p1">1. Apply</p>
                <p class="p2 onep">Choose from hundreds of ESL iobs</p>
                <p class="p2">based on your prefenances for</p>
                <p class="p2">sludent gce and location</p>
            </div>
        </div>
        <div class="how-it-content">
            <div class="how-it-content-t">
                <img src="../../img/two.png" alt="" width="100px">
            </div>
            <div class="how-it-content-b">
                <p class="p1">2. lnterview</p>
                <p class="p2 onep">pur recruters wll enswer ay</p>
                <p class="p2">quesions and set up Skype</p>
                <p class="p2">neriews ior you wile</p>
                <p class="p2">schools</p>
            </div>
        </div>
        <div class="how-it-content">
            <div class="how-it-content-t">
                <img src="../../img/three.png" alt="" width="100px">
            </div>
            <div class="how-it-content-b">
                <p class="p1">3. Start Work</p>
                <p class="p2 onep">Once you have accepted a iob </p>
                <p class="p2">offer your work Visa is processed</p>
                <p class="p2">gand then you begin work</p>
            </div>
        </div>
        <div class="how-it-content">
            <div class="how-it-content-t">
                <img src="../../img/four.png" alt="" width="100px">
            </div>
            <div class="how-it-content-b">
                <p class="p1">4. Free Service</p>
                <p class="p2 onep">The enie feonimeni pnoess i </p>
                <p class="p2">ompleev inee oichane. We</p>
                <p class="p2">mave e tee fon tne sohoose</p>
                <p class="p2">you do nol pav us awlhno eve</p>
            </div>
        </div>
    </div>
</div>

<div class="apply-now">
    <!--<a href="#">APPLY NOW</a>-->
</div>

<!--footer-->
<footer></footer>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量

    // 判断图片加载状况，加载完成后回调
    isImgLoad(function () {
        // 加载完成
        //引入顶部菜单
        $('header').load('../layout/header.html');
        $('footer').load('../layout/footer.html');
        //轮播
        var upsSwiper = new Swiper('.swiper-container', {
            speed: 5000,
            longSwipes: true,
            loop: true,
            autoplay: {
                disableOnInteraction: true,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            }
        });
        $('body').show();
    });

    // 判断图片加载的函数
    function isImgLoad(callback) {
        // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
        // 查找所有封面图，迭代处理
        $('img').each(function () {
            // 找到为0就将isLoad设为false，并退出each
            if (this.height === 0) {
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if (isLoad) {
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
            // 为false，因为找到了没有加载完成的图，将调用定时器递归
        } else {
            isLoad = true;
            t_img = setTimeout(function () {
                isImgLoad(callback); // 递归扫描
            }, 500); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }
</script>
</html>
