<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)"
          href="../../css/lnteview0-768.css?4"/>
    <link type="text/css" media="screen and (min-width: 768px)" href="../../css/lnteview768.css?4" rel="stylesheet">
</head>
<body>
<!--头部-->
<header style="position: fixed;top: 0;width: 100%;left: 0;z-index: 100"></header>

<div class="top-img">
    <img src="../../img/salary.jpg" alt="" width="100%"/>
    <div class="text">
        <p>ESL Teacher</p>
    </div>
</div>


<div class="box">
    <p class="datitle">NO.1   Do your research ahead of the interview</p>
    <p class="neirong">It is very important to do some research on the country you plan to work and live in so that you are aware of the
        different norms and customs. Nothing could be worse than attending a interview without knowing and understan
        ding the basics of that country’s norms.</p>
</div>

<div class="box">
    <p class="datitle">NO.2   Frequently asked questions</p>
    <p class="xiaobiaoti">Tell us about yourself?</p>
    <p class="neirong">To give a brief introduction of yourself, starting with your name, educational background, experience and all the
        places you have previously worked in. Everything you say should be relevant to the job you are interviewing for. </p>
    <p class="xiaobiaoti">Why did you quit your previous job? </p>
    <p class="neirong">TNever talk ill of your previous workplace. Instead, talk about how you want to start a new journey and what you
        have learned from previous work experiences.</p>
    <p class="xiaobiaoti">How long do you plan to stay in China?</p>
    <p class="neirong">It is important to ensure the interviewer that you plan to stay in China for at least one year. (normal contract
        length)</p>
    <p class="xiaobiaoti">Why should we consider hiring you?</p>
    <p class="neirong">Highlight your unique strengths, skills, training and experience. Do research about the job and the company you
        are applying for, it will really come in handy.</p>
</div>


<div class="box">
    <p class="datitle">NO.3   Give one example of your classroom problem-solving capability</p>
</div>

<div class="box">
    <p class="datitle">NO.4   To prepare a demo video in advance</p>
</div>


<!--footer-->
<footer></footer>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量

    $(function () {
        // 加载完成
        //引入顶部菜单
        $('header').load('../layout/header.html');
        $('footer').load('../layout/footer.html');
    })

    // 判断图片加载状况，加载完成后回调
    isImgLoad(function () {
        $('body').show();
    });

    // 判断图片加载的函数
    function isImgLoad(callback) {
        // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
        // 查找所有封面图，迭代处理
        $('img').each(function () {
            // 找到为0就将isLoad设为false，并退出each
            if (this.height === 0) {
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if (isLoad) {
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
            // 为false，因为找到了没有加载完成的图，将调用定时器递归
        } else {
            isLoad = true;
            t_img = setTimeout(function () {
                isImgLoad(callback); // 递归扫描
            }, 500); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }
</script>
</html>
