<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)"
          href="../../css/salary0-768.css?4"/>
    <link type="text/css" media="screen and (min-width: 768px)" href="../../css/salary768.css?4" rel="stylesheet">
</head>
<body>
<!--头部-->
<header style="position: fixed;top: 0;width: 100%;left: 0;z-index: 100"></header>

<div class="top-img">
    <img src="../../img/biaoto.jpg" alt="" width="100%"/>
    <div class="text">
        <p>How do I know</p>
        <p>if my salary can guarantee a good life </p>
        <p>in China?</p>
    </div>
</div>


<div class="box">
    <p class="p1">China Minimum Wage in 2016 &2017</p>
    <p class="p2">2016-2017 Minimum Wage Updates (ranked by wage level)</p>
    <div>
        <img src="../../img/biao1.jpg" alt="" width="100%">
    </div>
</div>

<div class="box">
    <p class="p1 weiyiP1">China White-collar Average Salary Dips in the First Quarter of 2018</p>
    <div>
        <img src="../../img/biao2.jpg" alt="" width="100%">
    </div>
</div>

<div class="box">
    <p class="p1">For ESL Language Teacher</p>
    <p class="p2">10000 – 16000 RMB / month + various types of bonuses+ Free apartment/ Housing
        allowance,Flight reimbursement, Health insurance, Some schools provide free meals</p>
</div>

<div class="box">
    <p class="p1">Cost of Living in China Comparison</p>
    <p class="p2">Below is a table that provides a rough overview on the cost of living for the major
        urban centers in China as well as a couple second-tier cities.</p>
    <div>
        <img src="../../img/biao3.jpg" alt="" width="100%">
    </div>
</div>


<!--footer-->
<footer></footer>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量

    $(function () {
        // 加载完成
        //引入顶部菜单
        $('header').load('../layout/header.html');
        $('footer').load('../layout/footer.html');
    })

    // 判断图片加载状况，加载完成后回调
    isImgLoad(function () {
        $('body').show();
    });

    // 判断图片加载的函数
    function isImgLoad(callback) {
        // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
        // 查找所有封面图，迭代处理
        $('img').each(function () {
            // 找到为0就将isLoad设为false，并退出each
            if (this.height === 0) {
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if (isLoad) {
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
            // 为false，因为找到了没有加载完成的图，将调用定时器递归
        } else {
            isLoad = true;
            t_img = setTimeout(function () {
                isImgLoad(callback); // 递归扫描
            }, 500); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }
</script>
</html>
