<link type="text/css" media="screen and (min-width: 768px)" href="../../css/footer768.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-width: 768px)" href="../../css/footer0-768.css"/>


<div class="footer">
    <div class="apply-now">
        <a href="#">APPLY NOW</a>
    </div>
    <div class="footer-content">
        <div class="footerlieft">
            <div>
                <img src="../../img/lb.png" alt="" width="55px">
            </div>
            <div class="spcontent">
                <ul>
                    <li class="sptitle">联系我们</li>
                    <li style="max-width: 216px">地址：北京市某某区某某某某技术开发区
                        某某南路XX号某某科技园X座XXXX
                    </li>
                    <li>电话：010 1234 5678</li>
                    <li>邮箱：jianshuai@jobs.cn</li>
                </ul>
                <ul>
                    <li class="sptitle">types of jobs</li>
                    <li class="footergo">English Teacher</li>
                    <li class="footergo">Subject Teacher</li>
                    <li class="footergo">Director of studies</li>
                    <li class="footergo">Foreign Principal</li>
                </ul>
                <ul>
                    <li class="sptitle">Resource</li>
                    <li class="footergo">Interview Tips</li>
                    <li class="footergo">国人平均薪资水平</li>
                    <li class="footergo">签证信息</li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <a href="#" class="bottom-button1">jobs</a>
            </div>
            <div>
                <a href="#"  class="bottom-button2">Apply </a>
            </div>
            <div>
                <img src="../../img/fenx.png" width="177px"/>
            </div>
        </div>
    </div>
    <div class="bottom">
        Copyright 2009 - 2018 JianShuai Recruitment | All Rights Reserved |"
    </div>
</div>
